// variable breakpoints
$mobile-mini: 360px;
$mobile-max: 576px;
$tablet: 767px;
$desktop-large: 992px;
$desktop-extra: 1200px;
$desktop-extra-extra: 1400px;

// variable basic
$bg-footer: #F5F5F5;
$color-footer: #ED165F;
$color-black: #000000;
$color-white: #ffffff;
$color-search: rgba(0, 0, 0, 0.5);
$color-border-1: #ddd;

